/* 
========= HERDER COMPONENTS=========
*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fdf2e9;
	height: 9.6rem;
	padding: 0 4.8rem;
}
.logo {
	height: 2.2rem;
}

/* 
========= HERDER COMPONENTS=========
*/
.main-nav {
	display: flex;
	align-items: center;
}
.main-nav ul {
	list-style: none;
}
.nav-main-list {
	display: flex;
	/* gap: 1rem; */
	gap: 3.2rem;
	transition: all 0.2s;
}
.nav-main-list li a {
	text-decoration: none;
	color: #333;
	display: inline-block;
	padding: 0.8rem 1.6rem;
	border-radius: 15px;
	font-size: 1.8rem;
}
.nav-main-link:hover {
	color: #b8651b;
}
.nav-cta:last-child {
	background-color: #e67e22;
	color: #fff;
	transition: all 0.2s ease;
}
.nav-cta:last-child:hover {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #e67e22;
	color: inherit;
}

/* 
========= HERO COMPONENTS=========
*/
.hero-section {
	background-color: #fdf2e9;
	padding: 4.8rem 0 9.6rem 0;
}
.hero {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 9.6rem;
	align-items: center;
}

.hero-text {
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}

.hero-img {
	width: 100%;
}

/* 
========= MILESTONE STATUS COMPONENTS=========
*/

.delivered-meals {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	/* margin-top: 8rem; */
}
.delivered-faces {
	display: flex;
}
.delivered-faces img {
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 100%;
	border: 3px solid #f8d8bd;
	margin-right: -1.3rem;
}
.delivered-faces img:last-child {
	margin: 0;
}
.delivered-milestone {
	font-size: 1.8rem;
}
.milestone-number {
	color: #b8651b;
	font-weight: 700;
	font-size: 1.8rem;
}

/* 
========= HOW IT WORKS =========
*/
.how-work {
	padding: 9.6rem 0;
}
.step-no {
	font-size: 8.6rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 1.2rem;
}
.step-description {
	font-size: 1.8rem;
	line-height: 1.8;
}
.img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.img-box::before,
.img-box::after {
	content: '';
	display: block;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.img-box::before {
	width: 70%;
	padding-bottom: 70%;
	background-color: #fdf2e9;

	z-index: -2;
}
.img-box::after {
	width: 50%;
	padding-bottom: 50%;
	background-color: #fae5d3;
	z-index: -1;
}
.step-img {
	width: 40%;
}

/* 
========= FEATURE-IN =========
*/
.featured-section {
	padding: 4.8rem 0 3.2rem 0;
}
.featured-heading {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	margin-bottom: 2.4rem;
}
.logos {
	display: flex;
	justify-content: space-around;
}
.featured-in--logo {
	height: 3.2rem;
	filter: brightness(0);
	opacity: 50%;
}

/* 
========= HOW IT WORKS =========
*/
.meals-section {
	padding: 9.6rem 0;
}
.meals {
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	border-radius: 11px;
	overflow: hidden;
	transition: all 0.5s;
}
.meals:hover {
	transform: translateY(-1.4rem);
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meals-img {
	width: 100%;
}
.meal-content {
	padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.tag {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #333;
	padding: 0.4rem 0.8rem;
	border-radius: 100px;
	font-weight: 600;
	margin-bottom: 0.9rem;
}
.tag--vegiterian {
	background-color: #51cf66;
}
.tag--vegan {
	background-color: #74b816;
}
.tag--paleo {
	background-color: #fab005;
}
.meal-title {
	font-size: 2.4rem;
	color: #333;
	margin-bottom: 3.2rem;
	font-weight: 500;
}
.meal-attributes {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.meal-attribute {
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.meal-icon {
	width: 2.4rem;
	height: 2.4rem;
	color: #e67e22;
}
.diets {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.list-items {
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.diet-icon {
	width: 2.4rem;
	height: 2.4rem;
	color: #e67e22;
}
.all-receipes {
	text-align: center;
	margin-top: 2.8rem;
}
.all-receipes a:link {
	font-size: 1.6rem;
}

/* 
========= TESTIMONIAL SECTION =========
*/
.testimonial-section {
	background-color: #fdf2e9;
	display: grid;
	grid-template-columns: 55fr 45fr;
	align-items: center;
}
.testimonial-container {
	padding: 9.6rem;
}
.testimonial-contents {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 4.8rem;
	column-gap: 8rem;
}
.testimonial-img {
	width: 6.4rem;
	border-radius: 50%;
	margin-bottom: 1.2rem;
}
.testimonial-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 1.6rem;
}
.testimonial-author {
	font-size: 1.6rem;
	color: #6f6f6f;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
	padding: 1.6rem;
}
.gallery-items {
	overflow: hidden;
}
.gallery-items img {
	display: block;
	width: 100%;
	transition: all 0.4s;
}
.gallery-items img:hover {
	transform: scale(1.1);
}

/* 
========= HOW IT WORKS =========
*/
.section-pricing {
	padding: 9.6rem 0;
}
.pricing-plan {
	/* border: 1px solid #e67e22; */
	background-color: #fdf2e9;
	border-radius: 11px;
	width: 75%;
}
.pricing-plan:first-child {
	background-color: transparent;
	border: 2px solid #fdf2e9;
	padding: 4.6rem;
	justify-self: end;
}
.pricing-plan:last-child {
	padding: 4.8rem;
	position: relative;
	overflow: hidden;
}
.pricing-plan:last-child::after {
	content: 'Best value';
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.4rem;
	background-color: #fab005;
	padding: 0.8rem 4.2rem;
	position: absolute;
	top: 9%;
	right: -9%;
	transform: rotate(45deg);
}
.plan-header {
	text-align: center;
	margin-bottom: 4.8rem;
}
.plan-name {
	color: #b8651b;
	font-weight: 600;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.75;
	margin-bottom: 1.7rem;
}
.plan-price {
	font-size: 6.2rem;
	color: #333;
	font-weight: 600;
	margin-bottom: 1.6rem;
}
.plan-price span {
	font-size: 3rem;
	font-weight: 500;
	margin-right: 0.8rem;
}
.plan-text {
	font-size: 1.3rem;
	line-height: 1.2;
	color: #6f6f6f;
}
.plan {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	margin-bottom: 2.1rem;
}
.sign-up {
	text-align: center;
	margin-top: 4.8rem;
}
.pricing-cancel-terms{
	font-size: 1.7rem;
}
.feature-icon {
	color: #e67e22;
	width: 3.2rem;
	height: 3.2rem;
	margin-bottom: 2.4rem;
	background-color: #fdf2e9;
	padding: 1rem;
	border-radius: 50%;
}

.feature-title {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 1.2rem;
}
.feature-text {
	font-size: 1.8rem;
	line-height: 1.8;
}

/* 
========= HOW IT WORKS =========
*/
.cta-section {
	padding: 4.8rem 0 12.8rem;
}
.cta {
	display: grid;
	grid-template-columns: 2fr 1fr;
	/* gap: 1rem; */
	background-image: linear-gradient(to right, #eea564, #e67e22);
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
	border-radius: 11px;
	overflow: hidden;
}
.cta-form {
	padding: 4.8rem 6.4rem 6.4rem 6.4rem;
	color: #733f11;
	outline: none;
}
.cta-form label {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
}
.cta-form input {
	width: 100%;
	font-size: 1.8rem;
	padding: 1.2rem;
	font-family: inherit;
	border: none;
	border-radius: 11px;
	background-color: #fae5d3;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.075);
}
.cta-form input::placeholder {
	color: #6f6f6f;
}
.cta-form select {
	font-family: inherit;
	font-size: 1.8rem;
	color: #6f6f6f;
	padding: 1.2rem;
	width: 100%;
	border: none;
	border-radius: 9px;
	background-color: #fae5d3;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.075);
}
.cta-form button {
	color: #fae5d3;
	background-color: #733f11;
	border: none;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.075);
	border-radius: 11px;
	font-size: 1.8rem;
	cursor: pointer;
	align-self: end;
	padding: 1.2rem;
}
.cta-form button:hover {
	background-color: white;
	color: #333;
}
.cta-heading {
	margin-bottom: 1.5rem !important;
}
.cta-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 4.8rem;
}
.form-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-img {
	background-image: linear-gradient(
			to right,
			rgba(238, 164, 100, 0.473),
			rgba(230, 125, 34, 0.473)
		),
		url('../img/eating.jpg');
	background-size: cover;
	background-position: center;
}

/* 
========= HOW IT WORKS =========
*/
.footer-section {
	padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.footer-container {
	grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.social-links {
	list-style: none;
	display: flex;
	gap: 1rem;
}
.social-link .footer-icon {
	width: 2rem;
	height: 2rem;
	color: #333;
}
.footer-logo {
	margin-bottom: 1.2rem;
}
.footer-heading {
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 2.2rem;
}
.copyright {
	font-size: 1.4rem;
	line-height: 1.4;
	color: #767676;
	margin-top: auto;
}
.footer-links {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.footer-link:link,
.footer-link:visited {
	text-decoration: none;
	font-size: 1.8rem;
	color: #767676;
	transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
	color: #e67e22;
}
.address-inner--container {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
.address-text,
.phone,
.email {
	font-size: 1.8rem;
	color: #767676;
}
.address-text {
	line-height: 1.4;
}
.phone a,
.email a {
	text-decoration: none;
	color: inherit;
	display: flex;
}
.address-icon {
	width: 1.2rem;
	height: 1.2rem;
	color: #333;
}
