/* 
========= HERDER COMPONENTS=========
*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fdf2e9;
	height: 3.2rem;
	padding: 0 3.2rem;
}
.logo {
	height: 1.5rem;
}

/* 
========= HERDER COMPONENTS=========
*/
.main-nav {
	display: flex;
	align-items: center;
}
.main-nav ul {
	list-style: none;
}
.nav-main-list {
	display: flex;
	gap: 1rem;
	transition: all 0.2s;
}
.nav-main-list li a {
	text-decoration: none;
	color: #333;
	display: inline-block;
	padding: 0.8rem 1.6rem;
	border-radius: 15px;
}
.nav-main-link:hover {
	color: #b8651b;
}
.nav-cta:last-child {
	background-color: #e67e22;
	color: #fff;
	transition: all 0.2s ease;
}
.nav-cta:last-child:hover {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #e67e22;
	color: inherit;
}

/* 
========= HERO COMPONENTS=========
*/
.hero-section {
	background-color: #fdf2e9;
}
.hero {
	max-width: 72rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	column-gap: 3rem;
	padding: 3rem 0;
}

.hero-text {
	font-size: 1.15rem;
	line-height: 1.4;
	margin-bottom: 3rem;
}

.hero-img {
	width: 100%;
}

/* 
========= MILESTONE STATUS COMPONENTS=========
*/

.delivered-meals {
	display: flex;
	align-items: center;
	gap: 1.1rem;
	margin-top: -2.2rem;
}
.delivered-faces {
	display: flex;
}
.delivered-faces img {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 100%;
	border: 3px solid #f8d8bd;
	margin-right: -1.3rem;
}
.delivered-faces img:last-child {
	margin: 0;
}
.milestone-number {
	color: #b8651b;
	font-weight: 700;
}

/* 
========= HOW IT WORKS =========
*/
.how-work {
	padding: 9.6rem 0;
}
.step-no {
	font-size: 6.8rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 2.5rem;
}
.step-description {
	font-size: 1.2rem;
	line-height: 1.5;
}
.img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.img-box::before,
.img-box::after {
	content: '';
	display: block;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.img-box::before {
	width: 70%;
	padding-bottom: 70%;
	background-color: #fdf2e9;

	z-index: -2;
}
.img-box::after {
	width: 50%;
	padding-bottom: 50%;
	background-color: #fae5d3;
	z-index: -1;
}
.step-img {
	width: 40%;
}

/* 
========= FEATURE-IN =========
*/
.featured-section {
	padding: 4.6rem 0;
}
.featured-heading {
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	margin-bottom: 2.5rem;
}
.logos {
	display: flex;
	justify-content: space-around;
}
.featured-in--logo {
	height: 1.9rem;
	filter: brightness(0);
	opacity: 0.6;
}

/* 
========= HOW IT WORKS =========
*/
.meals-section {
	padding: 9.6rem 0;
}
.meals {
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	border-radius: 13px;
	overflow: hidden;
	transition: all .5s;
}
.meals:hover{
	transform: translateY(-1.4rem);
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meals-img {
	width: 100%;
}
.meal-content {
	padding: 2rem 2.8rem;
}
.tag {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1rem;
	color: #333;
	padding: 0.4rem 0.8rem;
	border-radius: 100px;
	font-weight: 600;
	margin-bottom: 0.9rem;
}
.tag--vegiterian {
	background-color: #51cf66;
}
.tag--vegan {
	background-color: #74b816;
}
.tag--paleo {
	background-color:#fab005;
}
.meal-title {
	font-size: 1.6rem;
	color: #333;
	margin-bottom: 2.2rem;
	font-weight: 500;
}
.meal-attributes {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.meal-attribute {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}
.meal-icon {
	width: 1.5rem;
	height: 1.5rem;
	color: #e67e22;
}
.diets{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.list-items{
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.diet-icon{
	width:1.5rem ;
	height: 1.5rem;
	color: #e67e22;
}
.all-receipes{
	text-align: center;
	margin-top: 2.8rem;
}

/* 
========= HOW IT WORKS =========
*/
.testimonial-section {
	padding: 9.6rem 0;
}
.testimonial-contents{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 4.8rem;
}
.testimonial-img{
	width: 4.8rem;
	border-radius: 100%;
	margin-bottom: 1.8rem;
}
.testimonial-text{
	font-size: 1.5rem;
	line-height: 1.36;
	margin-bottom: 1.8rem;
}
.testimonial-author{
	font-size: 1.2rem;
	color: #7777;
}