/*
- 1 TYPOGRAPHY
    # FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    # Font size;
      default 17px
    # Font weight
      default 400
    # color
      default text color
    
  2 IMAGE
  3 ICON
  4 COLORS
    # Primary color:  #e67e22
    # Assent 
    # Tints
    # Shades
    # Greys
  5 SHADOWS
  6 BORDER-RADIUS  
  7 WHITE SPACING SYSTEM
    Spacing system (px)
     2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  line-height: 1;
  color: #555;
}
.hero-section{
  background-color: #ffdeeb;
}
.hero{
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  column-gap: 3rem;
  padding: 3rem 0;
}
.primary-heading{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.hero-text{
  font-size: 1.35rem;
  line-height: 1.4;
  margin-bottom: 3rem;
}
.btn:link,
.btn:visited{
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1.4rem ;
  border-radius: 1rem;
 
}
.btn-primary{
  background-color: #e67e22;
  color: #fff;
}
.hero-img{
  width: 100%;
}